html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, font, img, center,
ol, ul, li,
table, caption, tbody, tfoot, thead {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}