@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box
}
.wrapper {
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    justify-content: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
span {
    color: #4BCAFF;
}
.header-link {
    color: white;
    text-decoration: none;
}

h1 > a {
    text-decoration: none;
    color: black;
}
.header {
    margin-bottom: 40px;
    height: 189px;
}
.header-item {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    background-color: #35444F;
    font-size: 24px;
    line-height: 28px;
}

.header-item li:hover {
    background-color: #222F3A;
}

.header-item-1 {
    border-left: 1px solid #ffff;
    padding: 24px 32px 18px;
}
.header-item-2 {
    border-left: 1px solid #ffff;
    padding: 24px 38px 18px;
}

.header-item-3 {
    border-left: 1px solid #ffff;
    padding: 24px 40px 18px;
}

.header-item-4 {
    border-left: 1px solid #ffff;
    border-right: 1px solid #ffff;
    padding: 24px 18px 18px 40px;
}

.aside {
    display: inline-block;
    justify-content: center;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
}

.aside-link {
    text-decoration: none;
    color: #495863;
    font-size: 27px;
    line-height: 27px;
    padding-left: 44px;
}

.aside-item li {
    padding-top: 26px;
    padding-bottom: 26px;
}
.aside-item li:hover a {
    color: black;
    padding-left: 0;
}

.aside-item li:hover {
    background-color: #DBDBDB;
    text-align:center;
}

.section {
    display: flex;
    border: 1px solid black;
    margin-left: 390px;
    margin-top: -400px;
}

.bg-img {
    background-image: url(../img/main-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 529px;
}

.text-main-1 {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
    margin-left: 390px;
}

.text-main-2 {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 34px;
    margin-left: 390px;
}

.footer {
    margin-top: 51px;
    height: 189px;
}

.footer-item {
    display: flex;
    align-items: center;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-item li {
    padding-left: 30px;
}

.footer-item-6 {
    margin-left: 105px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
.footer-link {
    color: #0C1927;
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
}

.footer-link:hover {
    color:  #3181A6;
    text-decoration: underline;
}
